<div class="half pull-left"><div id="astronauts" class="">
  <h1>Astronauts</h1>

  <ul>
    <% @astronauts.each do |astronaut| %>
    <li><a href="/astronauts/<%= astronaut.id %>"><%= astronaut.name %></a></li>
    <% end %>

  </ul>

  <a href="/astronauts/new"><button class="btn btn-success">Create new Astronaut</button></a>
</div>


<div class="margin-really-high">
<h1>Missions</h1>

<ul>
  <% @missions.each do |mission| %>
  <li><a href="/missions/<%= mission.id %>"><%= mission.name %></a></li>
  <% end %>

</ul>
<a href="/missions/new"><button class="btn btn-primary">Create new Mission</button></a>
</div>
</div>

<div class="half pull-right"><div id="challenges" class="pull-right">
  <h1>Challenges</h1>
    <ul>
      <% @challenges.each do |challenge| %>
      <li><a href="/challenges/<%= challenge.id %>"><%= challenge.name %></a></li>
      <% end %>

    </ul>
    <a href="/challenges/new"><button class="btn btn-primary high-margin">Create new Challenge</button></a>
</div></div>
