<label for="challenge_name">Name</label>
<input id="challenge_name" class="form-control half" name="challenge[name]" type="text" value="<%= @challenge.name %>">
<label for="challenge_message">Challenge Message</label>
<textarea rows="4" id="challenge_message" class="form-control half" name="challenge[message]" type="text"><%= @challenge.message %></textarea>
<label for="challenge_answer">Enter keywords for Response</label>
<input id="challenge_answer" class="form-control half" name="challenge[answer]" type="text" value="<%= @challenge.answer %>">
<label for="challenge_number">Challenge Number</label>
<input id="challenge_number" class="form-control half" name="challenge[number]" type="text" value="<%= @challenge.number %>">
<label for="mission_id">Mission ID</label>
<input id="challenge_mission_id" class="form-control half" name="challenge[mission_id]" type="text" value="<%= @challenge.mission_id %>">
